{
    "arrowParens": "always",
    "singleQuote": false,
    "semi": true,
    "bracketSpacing": false,
    "bracketSameLine": false,
    "vueIndentScriptAndStyle": true,
    "trailingComma": "all",
    "tabWidth": 2,
    "useTabs": false,
    "printWidth": 100
}