[AnyBlok]
db_driver_name = postgresql+psycopg
install_or_update_bloks = band-management
wsgi_port = 5000
isolation_level=REPEATABLE_READ

default_encrypt_key = TestUnSecureEncryptKey
# not sure how to set db_name=None here to
# let anyblok use db_url properly
# db_url=postgresql://postgres:postgres@localhost:5432/band_management_ci_test
db_name = band_management_ci_test
db_user_name = bmuser
db_password = bmpwd
db_host = db
db_port = 5432
