{% extends "layouts/layout.html" %} {% block main %}

  <h2>{{ _t("Hello, %(user)s!")|format(user=musician.name) }}</h2>
  <section>
    {%- for member in musician.members: %}
      {%- set is_active_band = member.band==musician.active_band %}
      <article class="message">
        <div class="message-header" hx-put="/musician/{{musician.uuid}}/set-active-band/{{member.band.uuid}}">
          <p>{{member.band.name}}</p>
          <span class="icon is-small is-pulled-right">
            {%- if is_active_band %}
              <i class="fas fa-angle-down"></i>
            {%- else %}
              <i class="fas fa-angle-right"></i>
            {%- endif %}
          </span>
        </div>
        {%- if is_active_band %}
          <div class="message-body">
            {% if member.instruments %}
              <div class="tags">
                {%- for instrument in member.instruments: %}
                  <span class="tag is-link">{{ instrument.name }}</span>
                {%- endfor %}
              </div>
            {% endif %}
            <p>{% trans count=member.band.musicians_count%}Musicians: {{ count }}{% endtrans %}</p>
            <div class="tags">{%- for band_member in member.band.members: %}
              <div class="tag {{'is-link' if member != band_member else 'is-primary'}}">
                {% if band_member.is_admin %}
                  <span class="icon">
                    <i class="fa fa-user"></i>
                  </span>
                {% endif %}
                <span>{{ band_member.musician.name }}</span>
              </div>
            {%- endfor %}
            </div>
            <p>{% trans count=member.band.musics_count %}Musics: {{count}}{% endtrans %}</p>
          </div>
        {%- endif %}
      </article>
    {%- endfor %}
  </section>

{% endblock %}