{% extends "layouts/layout.html" %} {% block main %}
  <div>
    <form id="music-form" hx-put="/music/{{ music.uuid }}" hx-target="body">
      {% include "musics/music-form.html" %}
    </form>
  </div>
{% endblock %} {% block footer %}
  <footer class="footer">
    <nav class="navbar is-spaced is-fixed-bottom" role="navigation" aria-label="main navigation">
      <div class="navbar">
        <a class="navbar-item" href="/musics/"> Cancel </a>
        <input type="submit" form="music-form" class="navbar-item" value="Save" />
      </div>
    </nav>
  </footer>
{% endblock footer %} {% block footer_navbar_items %}
  <div class="navbar-start">
    <div class="navbar-item">
      <a href="/musics/" class="button is-outlined">
        <span class="icon">
          <i class="fa fa-undo"></i>
        </span>
        <span>Cancel</span>
      </a>
      <button type="submit" form="music-form" class="button is-light is-pulled-right">
        <span class="icon">
          <i class="fa fa-save"></i>
        </span>
        <span>Save</span>
      </button>
    </div>
  </div>
{% endblock footer_navbar_items %}