{% extends "layouts/layout.html" %} {% block top_menu_start %}
  <div class="navbar-item is-pulled-right">
    <div class="control">
      <input class="form-control" type="search"
             id="search-input" name="search" placeholder="{{ _t('Begin Typing To Search music...') }}"
             hx-post="/musics/" hx-trigger="input changed delay:500ms, keyup[key=='Enter'], load"
             hx-swap="innerHTML"
             hx-target="#search-results" />
    </div>
  </div>
{% endblock %} {% block main %}
  <div id="search-results"></div>
{% endblock %} {% block footer_navbar_items %}
  <div class="navbar-end">
    <div class="navbar-item">
      <a href="/music/prepare" class="button is-light is-pulled-right">
        <span class="icon">
          <i class="fa fa-plus"></i>
        </span>
        <span>{{ _t("New") }}</span>
      </a>
    </div>
  </div>
{% endblock %}