{% extends "layouts/layout.html" %} {% block main %}
    <h1>{{ _t("Reset password") }}</h1>
    <div>{%- if error_message
        %}
        <article class="message is-danger">
            <div class="message-header">
                <p>{{ _t("Oops something went wrong") }}</p>
            </div>
            <div class="message-body">{{ error_message }}</div>
        </article>
{%- endif %}
<form id="reset-password" hx-post="/user/reset-password" hx-target="body">
    <div class="field">
        <label class="label">{{ _t("Password") }}</label>
        <div class="control">
            <input class="input" type="password" form="reset-password" name="password" />
        </div>
        <p class="help">{{ _t("Your password") }}</p>
    </div>
    <div class="field">
        <label class="label">{{ _t("Password confirmation") }}</label>
        <div class="control">
            <input class="input" type="password" form="reset-password" name="password_confirmation" />
        </div>
        <p class="help">{{ _t("type your password again") }}</p>
    </div>

    <input type="hidden" form="reset-password" name="invitation_token" value="{{invitation_token}}" />
    <input type="hidden" form="reset-password" name="csrf_token" value="{{csrf_token(10)}}" />
    <button class="is-success" type="submit">{{ _t("Set password") }}</button>
</form>
</div>
{% endblock %}