{% extends "layouts/layout.html" %} {% block main %}
    <h1>Reset password</h1>
    <div>{%- if error_message
        %}
        <article class="message is-danger">
            <div class="message-header">
                <p>Oops something went wrong</p>
            </div>
            <div class="message-body">{{ error_message }}</div>
        </article>
{%- endif %}
<form id="reset-password" hx-post="/user/reset-password" hx-target="body">
    <div class="field">
        <label class="label">Password</label>
        <div class="control">
            <input class="input" type="password" form="reset-password" name="password" />
        </div>
        <p class="help">Your password</p>
    </div>
    <div class="field">
        <label class="label">Password confirmation</label>
        <div class="control">
            <input class="input" type="password" form="reset-password" name="password_confirmation" />
        </div>
        <p class="help">type your password again</p>
    </div>

    <input type="hidden" form="reset-password" name="invitation_token" value="{{invitation_token}}" />
    <input type="hidden" form="reset-password" name="csrf_token" value="{{csrf_token(10)}}" />
    <button type="submit">Set password...</button>
</form>
</div>
{% endblock %}