<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Amne'zik</title>
    <link rel="icon" type="image/png" href="/static/assets/favicon.png" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/navbar.css" />
    <script src="https://unpkg.com/htmx.org"></script>
  </head>

  <body data-theme="{{request.cookies.theme == 'light' and 'light' or 'dark'}}">
    <header>
      <nav class="navbar is-primary is-fixed-top">
        <div class="navbar-brand">
          <a
            class="navbar-burger ml-0"
            aria-label="menu"
            id="aside-burger"
            role="button"
            data-target="navAsideMenu"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
          <a class="navbar-item is-hidden-touch" href="/">BandZum</a>
          <a
            class="navbar-burger"
            aria-label="menu"
            id="top-burger"
            role="button"
            data-target="navMenu"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
          <div>
            <div id="navMenu" class="navbar-menu">
              <div class="navbar-start">{% block top_menu_start %} {% endblock %}</div>
              <div class="navbar-end">
                <!-- hide this block until we find out a good idea
                                 to properly send current user theme (light or dark)
                                 style="display: none;">
                             -->
                <div class="navbar-item is-pulled-right">
                  <div class="field has-addons">
                    <p class="control">
                      <a class="button is-small is-light" id="btn-dark-mode">
                        <span class="icon">
                          <i class="fa fa-moon"></i>
                        </span>
                      </a>
                    </p>
                    <p class="control">
                      <a class="button is-small is-outlined" id="btn-light-mode">
                        <span class="icon">
                          <i class="fa fa-sun"></i>
                        </span>
                      </a>
                    </p>
                  </div>
                </div>
                {% block top_menu_end %} {% endblock %}
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <div class="container" id="main-container">
      <div class="columns">
        <aside id="sideBarMenuLeft" class="menu column is-3">
          {% from "macros/menu-item.html" import render_menu with context %} {% block side_menu %}
          {% endblock %} {{ render_menu( 'About us', [ {'name': 'Credits', 'path': '/credits'},
          {'name': 'Terms', 'path':'/terms'}, ]) }}
        </aside>
        <main class="column">{% block main %} {% endblock %}</main>
      </div>
    </div>

    <div class="overlay"></div>

    <footer class="footer">
      <nav class="navbar is-fixed-bottom is-primary">
        {% block footer_navbar_items %} {% endblock %}
      </nav>
    </footer>
    <script async type="text/javascript" src="/static/js/navbar.js"></script>
    <script async type="text/javascript" src="/static/js/theme.js"></script>
  </body>
</html>
