{% extends "layouts/base.html" %} {% block top_menu_end %}
  <div class="navbar-item">
    <div class="field is-grouped">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link is-hidden-touch"> {{ musician.name }} </a>

        <div class="navbar-dropdown">
          {{ render_navbar_item('/profile', _t('Profile'), 'fa-user-cog')}}
          {{ render_navbar_item('/logout', _t('Logout'), 'a-sign-out-alt', method='post')}}
        </div>
      </div>
    </div>
  </div>
{% endblock top_menu_end %}
{% block side_menu %}
  {% from "macros/menu-item.html" import render_musician_bands_menu with context %}
  {{ render_musician_bands_menu(_t('Active bands'), musician )}}
  {{
  render_menu(
  _t('General'),
  [
  {'name': _t('Home'), 'path': '/home'},
  {'name': _t('Bands'), 'path':'/bands/'},
  {'name': _t('Musics'), 'path':'/musics/'},
  {'name': _t('Scores'), 'path': '/scores/'},
  ])
  }}
{% endblock side_menu %}