{% extends "layouts/base.html" %} {% block top_menu_end %}
<div class="navbar-item">
  <div class="field is-grouped">
    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link is-hidden-touch"> {{ musician.name }} </a>

      <div class="navbar-dropdown">
        {{ render_navbar_item('/profile', 'Profile', 'fa-user-cog')}} {{
        render_navbar_item('/logout', 'Logout', 'a-sign-out-alt', method='post')}}
      </div>
    </div>
  </div>
</div>
{% endblock top_menu_end %} {% block side_menu %} {{ render_menu( 'General', [ {'name': 'Home',
'path': '/home'}, {'name': 'Bands', 'path':'/bands'}, {'name': 'Musics', 'path':'/musics'}, ]) }} {{
render_menu( 'Scores', [ {'name': 'List', 'path': '/scores'}, {'name': 'imports', 'path':
'/scores/imports'}, ]) }} {% endblock side_menu %}
