{% extends "layouts/base.html" %} {% block top_menu_end %}
<div class="navbar-item is-pulled-right">
  <div class="field is-grouped">
    <div class="field is-grouped">
      <p class="control">
        <a href="/register" class="button is-small is-outlined is-light">
          <span class="icon">
            <i class="fa fa-user-plus"></i>
          </span>
          <span>Register</span>
        </a>
      </p>
      <p class="control">
        <a href="/login" class="button is-small is-primary is-light">
          <span class="icon">
            <i class="fa fa-user"></i>
          </span>
          <span>Login</span>
        </a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
