<div class="field">
  <label class="label">{{ _t("Label") }}</label>
  <div class="control">
    <input class="input" form="score-form" type="text" name="score_name" placeholder="{{ _t('1st voice') }}"
           value="{{ score.name  | default('', true)}}" />
    <p class="help">{{ _t("Your score name") }}</p>
  </div>
</div>

{% set music = score.music %}

{% include "musics/music-field-selection.html" %}

<div class="field">
  <label class="label">{{ _t("Score writer") }}</label>
  <div class="control">
    <input class="input" form="score-form" type="text" name="source_writer_credits" placeholder="{{ _t('Score writer') }}"
           value="{{ score.source_writer_credits  | default('', true) }}" />
    <p class="help">{{ _t("The person who write this score") }}</p>
  </div>
</div>

<div class="field">
  <label class="label">{{ _t("Metadata") }}</label>
  <textarea class="textarea" disabled="1">
    {{score.storage_file_metadata}}
  </textarea>
</div>

{% if score.storage_file_metadata %}
  <div>
    <object type="{{score.storage_file_metadata.get('mime_type', 'appdlication/pdf')}}" data="/score/{{score.uuid}}/media"
            width="100%" height="600">
      <p>
        {{ _t("Viewer not available on this browser for given file type") }}
        {{ score.storage_file_metadata.get('mime_type', 'appdlication/pdf') }}
        <a href="/score/{{score.uuid}}/media" target="_blank">download</a>.
      </p>
    </object>
  </div>
{% endif %}