{% if musics %} {% for music in musics %}
  <a href="#" class="dropdown-item music" hx-on:click="document.getElementById('selected-music-uuid').value = '{{ music.uuid }}';
                                                       document.getElementById('music-search').value = '{{ music.title }}';">
    <strong>{{ music.title | highlight(search) | safe }}</strong>
    {% if music.dance %} -
      <span>{{ music.dance }}</span>
    {% endif %}
    {%- if music.composer %} -
      <span>{{ music.composer | highlight(search) | safe }}</span>
    {%- endif %}
    {%- if music.author %} -
      <span>{{ music.author | highlight(search) | safe }}</span>
    {%- endif %}
    {%- if music.musicbrainz_artists %} -
      <span>{{ music.musicbrainz_artists | highlight(search) | safe }}</span>
    {%- endif %}
  </a>
{% endfor %} {% else %}
  <a href="#" class="dropdown-item js-modal-trigger"
     hx-get="/music/prepare?next_action={{ NextAction.EDIT_MODAL_FROM_VIEW }}&music_name={{ search }}"
     hx-target="#music-modal-content" data-target="music-modal" hx-trigger="click" onclick="openModal(this)">
    {% trans %}Create new music {{ search }}...{% endtrans %}
  </a>
{% endif %}