<div class="field">
  <label class="label">{{ _t("Title") }}</label>
  <div class="control">
    <input class="input" form="music-form" type="text" name="music_title" placeholder="{{ _t('Music title') }}"
           value="{{ music.title }}" />
  </div>
  <p class="help">{{ _t("The music name") }}</p>
</div>
{%- if music.musicbrainz_artists %}
  <div class="field">
    <label class="label">{{ _t("Artists") }}</label>
    <div class="control">
      <input class="input" disabled="1" type="text"
             value="{{ music.musicbrainz_artists }}" />
    </div>
    <p class="help">{{ _t("Artists information from Music Brainz's data - readonly") }}</p>
  </div>
{% endif %}
<div class="field">
  <label class="label">{{ _t("Composer") }}</label>
  <div class="control">
    <input class="input" form="music-form" type="text" name="music_composer" placeholder="{{ _t('Music composer') }}"
           value="{{ music.composer | default('', true) }}" />
  </div>
  <p class="help">{{ _t("The composer who create the music") }}</p>
</div>

<div class="field">
  <label class="label">{{ _t("Lyricist") }}</label>
  <div class="control">
    <input class="input" form="music-form" type="text" name="music_author" placeholder="{{ _t('Lyricist') }}"
           value="{{ music.author | default('', true) }}" />
  </div>
  <p class="help">{{ _t("The one who made lyrics to this song") }}</p>
</div>

<div class="field">
  <label class="label">{{ _t("Dance") }}</label>
  <div class="control">
    <input class="input" form="music-form" type="text" name="music_dance" placeholder="{{ _t('Dance') }}"
           value="{{ music.dance | default('', true) }}" />
  </div>
  <p class="help">{{ _t("What can you dance on this song ?") }}</p>
</div>
<div class="field">
  <label><strong>{{ _t("Bands: ") }}</strong></label>
  <fieldset class="checkboxes">
    <!-- a bit hacky otherwise you can remove all your bands from the current music -->
    <input type="hidden" name="music_bands" value="" />
    {%- for member in musician.members: %}
      <label class="checkbox">
        <input type="checkbox" {{ member.band in music.bands and "checked" }} name="music_bands" form="music-form"
               value="{{member.band.uuid}}"></input>
        {{ member.band.name }}
      </label>

    {%- endfor %}
  </fieldset>
  <p class="help">{{ _t("Bands that I play this song at least once.") }}</p>
</div>
<div class="field">
  <label><strong>{{ _t("Scores linked: ") }}</strong></label>

  <div class="field is-grouped is-grouped-multiline">
    {%- for score in music.scores: %}

      <div class="control">
        <div class="tags has-addons">
          <a class="tag is-link">
            {{ score.name }}</a>
        <!-- <a class="tag is-delete"></a> -->
        </div>
      </div>
    {%- endfor %}
  </div>
</div>